@mixin flex-layout($justify, $align, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin img-layout($width, $heigth, $object-fit, $object-position) {
    width: $width;
    height: $heigth;
    object-fit: $object-fit;
    object-position: $object-position;
}